@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    display: block;
    margin: 0;
}

header {
    background: url(image/background-header.svg);
    background-color: rgb(14, 25, 27);
    background-repeat: round;
    width: 100%;
    height: 776px;
}

a:hover{
    color: rgb(0, 0, 255);
}

a{
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

hr{
    border: none;
    height: 1px;
}

.contain-new {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 18%;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 17px;
}

.color-white {
    color: rgb(255, 255, 255);
}

.style-text {
    font-family: Public Sans;
    font-size: 12px;
    line-height: 16px;
}

.container-text {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.container-text-new {
    width: 48%;
}

.rectangle {
    width: 208px;
    height: 54px;
    color: white;
    text-align: center;
    line-height: 54px;
    box-sizing: border-box;
    border-radius: 80px;
    background-color: transparent;
    border: 0.3px solid white;
    transition: 0.3s;
}

.rectangle:hover {
    background-color: white;
    color: black;
}

.tittle {
    font-family: Libre Baskerville;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 1.2px;
}

.subtitle {
    font-family: Public Sans;
    font-size: 18px;
    line-height: 28px;
}

.sub-link {
    font-family: Public Sans;
    font-size: 13px;
    letter-spacing: 0.02px;
}

.container-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.hr-container-columns{
    background: rgba(255, 255, 255, 0.6);
    border: none;
}

.text-title {
    font-family: Libre Baskerville;
    color: rgb(0, 51, 49);
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 1.2px;
    text-align: center;
    width: 40%;
}

.main-container-info {
    display: flex;
    padding: 120px 0;
    background: rgb(245, 245, 245);
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.round {
    background: rgb(1, 76, 72);
    width: 48px;
    height: 48px;
    border-radius: 999px;
    text-align: center;
    line-height: 48px;
}


.info-columns {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 140px 0;
}

.info-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-column-info {
    font-family: Public Sans;
    color: rgba(53, 83, 98, 0.8);
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    width: 120px;
}

.hr-container{
    width: 100%;
    margin: 30px 10px;
}

.hr-block {
    background: rgba(53, 83, 98, 0.2);
}

.container-main{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 113px;
    padding-bottom: 80px;
}

.background-color-gray{
    background: rgb(247, 248, 248);
}

.text-container{
    width: 37%;
}

.title-contain-main{
    font-family: Public Sans;
    color: rgb(0, 51, 49);
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0;
}

.subtitle-contain-main{
    font-family: Public Sans;
    color: rgba(53, 83, 98, 0.8);
    font-size: 15px;
    line-height: 24px;
}

.subtitle-contain-main1{
    font-family: Public Sans;
    color: rgba(53, 83, 98, 0.8);
    font-size: 15px;
    line-height: 24px;
}

.images *{
    margin: 2px;
}

.knoponka{
    box-sizing: border-box;
    border: 1px solid rgba(53, 83, 98, 0.2);
    background-color: transparent;
    transition: 0.3s;
    border-radius: 80px;
    width: 150px;
    height: 54px;
    text-align: center;
    line-height: 54px;
}

.knoponka:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 255);
}

.contain-columns-cart{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.hr-block2{
    width: 100%;
    background: rgba(53, 83, 98, 0.3);
}

.element-column{
    display: flex;
    align-items: center;
    gap: 8px;
}

.column {
    width: 14%;
}

.container-info-image{
    padding: 0 15%;
    background-color: #001414;
    display: flex;
    justify-content: space-between;
}

.title-info-image{
    font-family: Public Sans;
    font-size: 22px;
    line-height: 22px;
}

.text-info-image{
    font-family: Public Sans;
    font-size: 15px;
    line-height: 24px;
}

.text-container-info-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.text-column-cart{
    font-family: Public Sans;
    color: rgba(53, 83, 98, 0.6);
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.background-color-gray2{
    background-color: rgb(244, 245, 245);
}

.statistic{
    padding: 80px 15% 0 15%;
}

.statistic-img{
    background: url("./image/backgound2.svg");
    background-repeat: round;
    height: 800px;
    width: 100%;
}

.text-title-info{
    font-family: Libre Baskerville;
    color: rgb(0, 51, 49);
    font-size: 31px;
    letter-spacing: 1.2px;
    margin-top: 10px;
}

.column-info{
    width: 35%;
}

.sub-column-info{
    width: 43%;
}

.sub-column-info2{
    width: 47%;
}

.container-sub-column-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 47%;
}

.container-press{
    padding: 80px 0 132px 0;
}

.button-press{
    font-family: Public Sans;
    box-sizing: border-box;
    border: 1px solid rgba(53, 83, 98, 0.2);
    background-color: transparent;
    transition: 0.3s;
    border-radius: 80px;
    width: 112px;
    height: 54px;
    color: rgb(0, 65, 62);
    font-size: 13px;
    letter-spacing: 0.02px;
    text-align: center;
}

.button-press:hover{
    background-color: rgb(244, 245, 245);
    color: rgba(0, 0, 255);
}

.container-head-press{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.title-text-press{
    font-family: Libre Baskerville;
    color: rgb(0, 51, 49);
    font-size: 27px;
    line-height: 38px;
    letter-spacing: 1.2px;
}

.children-container-press{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 280px;
}

.container-main-press{
    width: 31%;
}

.children-container-main-press{
    display: flex;
    align-items: center;
}

.children-container-main-press p{
    margin-left: 16px;
}

.container-text-press{
    font-family: Public Sans;
    color: rgb(0, 65, 62);
    font-size: 17px;
    font-weight: 400;
    line-height: 24.65px;
    width: 90%;
}

.background-color-blue-green{
    background: rgb(0, 31, 31);
}

.container-work{
    display: flex;
    justify-content: space-between;
    padding: 145px 0 135px 0;
    width: 90%;
}

.container-text-work{
    color: rgb(255, 255, 255);
    width: 30%;
}

.title-container-work{
    font-family: Libre Baskerville;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 1.2px;
}

.subtitle-container-work{
    font-family: Public Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
}

.button-touch{
    font-family: Public Sans;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02px;
    text-align: center;
    border-radius: 80px;
    background: rgb(0, 102, 95);
    transition: 0.3s;
    border: 0;
    width: 143px;
    height: 52px;
    margin-top: 15px;
}

.button-touch:hover{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
}

.background-color-dark-blue-green{
    background: rgb(0, 20, 20);
}

.container-content-footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 112px 0 137px 0;
}

.container-link{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.children-container-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-footer{
    font-family: Public Sans;
    color: rgb(125, 151, 152);
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hr-footer{
    background: rgb(37, 184, 149);
    border: none;
    width: 16px;
    margin: 24px 0;
}

.link-footer{
    font-family: Public Sans;
    color: rgb(237, 236, 235);
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0;
}

.background-color-blue-black{
    background: rgb(0, 15, 15);
}

.plashka{
    padding: 40px 0 63px 0;
    display: flex;
    justify-content: space-between;
}

.container-text-plashka1{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.container-text-plashka2{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.text-plashka{
    color: rgb(229, 236, 236);
    font-family: Public Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 0;
}

.test{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media screen and (max-width: 980px) {
    .contain-new{
        padding: 0 50px;
    }

    header{
        background-repeat: no-repeat;
        background: rgb(14, 25, 27);
        width: 100%;
        height: 776px;
    }

    .rectangle{
        width: 260px;
    }

    .container-text{
        width: 65%;
    }
    .img-partners{
        height: 45px;
    }
    .style-text{
        font-size: 22px;
    }

    .container-text-new {
        width: 70%;
    }

    .container-columns{
        flex-wrap: wrap;
    }

    .container-columns p{
        font-size: 20px;
    }

    .subtitle {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .sub-link{
        font-size: 20px;
    }

    .main-container-info{
        padding: 50px 0;
    }

    .text-title{
        width: 70%;
    }

    .images *{
        height: 50%;
    }
    .images{
        display: flex;
        flex-direction: column;
    }

    .info-columns{
        padding: 20px 0 100px 0;
    }

    .text-column-info{
        font-size: 22px;
    }

    .title-contain-main {
        font-size: 38px;
        line-height: 40px;
    }

    .text-container {
        width: 55%;
    }

    .subtitle-contain-main {
        font-size: 28px;
        line-height: 32px;
    }

    .knoponka{
        width: 200px;
    }

    .subtitle-contain-main1{
        font-size: 24px;
    }

    .element-column img{
        height: 30px;
    }

    .container-info-image {
        padding: 0 0;
    }

    .title-info-image{
        font-size: 28px;
    }

    .text-info-image {
        font-size: 25px;
        line-height: 30px;
    }

    .text-column-cart{
        font-size: 17px;
    }

    .container-sub-column-info{
        width: 65%;
    }

    .contain-columns-cart{
        flex-wrap: wrap;
    }

    .column{
        width: 31%;
    }

    .text-title-info{
        font-size: 36px;
    }
    .button-press {
        font-size: 20px;
    }

    .title-text-press{
        font-size: 34px;
    }

    .container-main-press {
        width: 47%;
    }

    .container-main-press a{
        font-size: 20px;
    }

    .statistic{
        padding: 40px 0 40px 0;
    }
        
    .children-container-main-press img{
        width: 30px;
    }


    .container-work {
        width: 100%;
    }

    .container-text-work {
        width: 40%;
    }

    .title-container-work {
        font-size: 40px;
    }

    .subtitle-container-work {
        font-size: 30px;
        line-height: 36px;
    }

    .button-touch{
        font-size: 20px;
        width: 160px;
    }

    .title-footer{
        font-size: 20px;
    }

    .link-footer{
        font-size: 24px;
        line-height: 36px;
    }

    .container-content-footer{
        width: 100%;
    }

    .container-link {
        width: 70%;
    }

    .hr-footer{
        width: 26px;
    }

    .text-plashka{
        font-size: 13px;
    }

    .plashka img{
        width: 30px;
    }

    .plashka{
        padding: 30px 0 48px 0;
    }

    .container-info-image img{
        display: none;
    }

    #virizat{
        display: none;
    }
}