.square-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.square-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlap {
    margin-left: -20px;
}

.overlap-container{
    display: flex;
    flex-wrap: nowrap !important;
    margin-left: -5%!important;
}

main{
    background-color: #fbf5ee;
}

footer{
    background-color: #fbf5ee;
}

header{
    background-color: #65b459;
    color: white;
}

.style-a {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
    user-select: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.style-a:hover{
    color: rgb(0,0,255);
}

.style-button{
    background-color: #ffff54;
    font-size: 1.5em;
    height: 2.3em;
    transition: 0.5s;
    border: 1px solid rgb(0,0,0);
}

.style-button:hover{
    background-color: #FFA500;
}

hr{
    border: 1.2px solid #0e0e0d !important;
    opacity: 100 !important;
}

.style-button-green{
    background-color: #75fb4c;
    font-size: 1.1em;
    height: 3.3em;
    transition: 0.5s;
    border: 0.5px solid rgb(0,0,0);
}

.style-button-green:hover{
    background-color: #4eb222;
}

.style-button-red{
    background-color: #ea3323;
    font-size: 1.1em;
    height: 3.3em;
    transition: 0.5s;
    border: 0.5px solid rgb(0,0,0);
}

.style-button-red:hover{
    background-color: #b2352d;
}